# Aplicação
APP_RUN_PORT=8000
RUN_MAKEMIGRATIONS=true
RUN_MIGRATIONS=true
CREATE_SUPERUSER=true

# Banco de dados
DB_NAME=medsync
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Superusuário padrão
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=Admin@12345
DJANGO_SUPERUSER_FIRST_NAME=Admin
DJANGO_SUPERUSER_LAST_NAME=User

# Backups automáticos
BACKUP_INTERVAL_SECONDS=86400
BACKUP_DAILY_RETENTION_DAYS=14
BACKUP_WEEKLY_RETENTION_DAYS=35
BACKUP_WEEKLY_DAY=7
